* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  padding: 20px 0;
  background-color: tan;

  &__navbar {
    max-width: 1200px;
    width: 70%;
    margin: 0  auto;
    display: flex;
    &__link {
      color: linen;
      text-transform: capitalize;
      & + & {
        margin-left: 20px;
      }
      &:hover {
        filter: drop-shadow(0px 10px 5px chocolate);
      }
    }
    &__home {
      margin-right: auto;
      color: linen;
      font-size: 1.5rem;
      font-variant: small-caps;
    }
  }
}

.main {
  max-width: 1200px;
  width: 70%;
  margin: 40px  auto;
  display: flex;
  flex-direction: column;
  flex-grow:1;
  text-align:justify;
  &__section {
    & + & {
      margin-top: 60px;
    }
    &__img {
      float: right;
      margin: 0 0 20px 20px;
      width: 500px;
      border-radius: 20px;
      box-shadow: 2px 2px 10px tan;
    }
  }
  & p {
    margin: 15px 0;
  }
  & a {
    color: sandybrown;
  }
  &__title {
    font-size: 40px;
  }
  &__subtitle {
    font-size: 34px;
  }
  &__txt {
    font-size: 24px;
  }
  &__form {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    & *:not(:first-child) {
      margin-top: 40px;
    }
    & * {
      border-radius: 10px;
      border: 1px solid tan;
      padding: 20px;
      &:focus {
        outline: none;
      }
    }
    & input {
      height: 50px;
      &[type="submit"] {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        background-color: tan;
        color: linen;
      }
    }
    & textarea {
      &::placeholder {
        font-family: Arial;
      }
    }
  }
  &__content__img {
    float: left;
    width: 500px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px tan;
    margin: 0 20px 20px 0;
  }
  &__content__txt {
    white-space: pre-wrap;
    font-size: 24px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tan;
  min-height: 200px;
  font-size: 30px;
  color: antiquewhite;
  &::after,&before {
    content: '';
    display: table;
    clear: both;
  }
  &__content {
    filter: drop-shadow(4px 4px 4px chocolate);
  }
}
