* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 20px 0;
  background-color: tan;
}

.header__navbar {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.header__navbar__link {
  color: linen;
  text-transform: capitalize;
}

.header__navbar__link + .header__navbar__link {
  margin-left: 20px;
}

.header__navbar__link:hover {
  -webkit-filter: drop-shadow(0px 10px 5px chocolate);
          filter: drop-shadow(0px 10px 5px chocolate);
}

.header__navbar__home {
  margin-right: auto;
  color: linen;
  font-size: 1.5rem;
  font-variant: small-caps;
}

.main {
  max-width: 1200px;
  width: 70%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: justify;
}

.main__list {
  list-style: none;
}

.main__list__product {
  transition: 0.1s;
}

.main__list__product:hover {
  box-shadow: 3px 3px 10px tan;
}

.main__list__product + .main__list__product {
  margin-top: 40px;
}

.main__list__product__content {
  display: flex;
  align-items: center;
}

.main__list__product__content *:not(:first-child) {
  margin-left: 40px;
}

.main__list__product__content__img {
  width: 150px;
}

.main__list__product__content__name {
  min-width: 100px;
}

.main__list__product__content__delete [type=submit] {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid tan;
  background-color: tan;
  color: linen;
  cursor: pointer;
  transition: 0.15s;
}

.main__list__product__content__delete [type=submit]:hover {
  padding: 12.5px 25px;
  -webkit-filter: drop-shadow(2px 4px 7px tan);
          filter: drop-shadow(2px 4px 7px tan);
}

.main__list__product__content__delete [type=submit]:active {
  padding: 10px 20px;
}

.main__list__product__content__delete [type=submit]:focus {
  outline: none;
}

.main__section + .main__section {
  margin-top: 60px;
}

.main__section__img {
  float: right;
  margin: 0 0 20px 20px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px tan;
}

.main p {
  margin: 15px 0;
}

.main a {
  color: sandybrown;
}

.main__title {
  font-size: 40px;
}

.main__subtitle {
  font-size: 34px;
}

.main__txt {
  font-size: 24px;
}

.main__form {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

.main__form *:not(:first-child) {
  margin-top: 40px;
}

.main__form * {
  border-radius: 10px;
  border: 1px solid tan;
  padding: 20px;
}

.main__form *:focus {
  outline: none;
}

.main__form input {
  height: 50px;
}

.main__form input[type=submit] {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: tan;
  color: linen;
}

.main__form textarea::-webkit-input-placeholder {
  font-family: Arial;
}

.main__form textarea::-moz-placeholder {
  font-family: Arial;
}

.main__form textarea:-ms-input-placeholder {
  font-family: Arial;
}

.main__form textarea::-ms-input-placeholder {
  font-family: Arial;
}

.main__form textarea::placeholder {
  font-family: Arial;
}

.main__content__img {
  float: left;
  width: 500px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px tan;
  margin: 0 20px 20px 0;
}

.main__content__txt {
  white-space: pre-wrap;
  font-size: 24px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tan;
  min-height: 200px;
  font-size: 30px;
  color: antiquewhite;
}

.footer::after,
.footerbefore {
  content: "";
  display: table;
  clear: both;
}

.footer__content {
  -webkit-filter: drop-shadow(4px 4px 4px chocolate);
          filter: drop-shadow(4px 4px 4px chocolate);
}

